.odd{
    background-color: rgb(255, 167, 167);
    font-family: Verdana, "DejaVu Sans", sans-serif;
}

.adjust-font-size{
    font-size: 24px;
}

#no2{
    color: #0000ff;
    font-size: 36px;
}

#no4 {
    background-color: hsl(120, 100%, 75%);
    font-weight: bold;
} 

.ex3{
    font-size: 28px;
    font-family: Helvetica, 'Times New Roman', sans-serif;
}

#button1{
    background-color: rgb(0, 0, 0);
    color: #FFFFFF;
}

#button2{
    background-color: rgb(255, 255, 0);
}